---
import "../styles/global.css";

// Load data here.
// Basic Fetch
// Strapi SDK
// Strapi Loader
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Strapi Crash Course</title>
    <meta name="description" content="Astro Basics" />
  </head>
  <body class="bg-gray-50">
    <!-- Add Banner Here -->
    <!-- Add Header Here-->
    <main class="container mx-auto my-0">
      <slot />
    </main>
    <!-- Add Footer Here -->
  </body>
</html>
